# Analyzing Work Hour Data

----

#### Summary
In this notebook I will be working on 'work_hour.csv'. This dataset contains work hour data for every year from 2000-2019. It shows how many hours of work people do per year (cumulative). I am interested in whether countries where people work for longer hours will have higher suicide rates, as pressure from work and overtime work is related to committing suicide. 

#### Key Question
* Is there a relationship between work hours and suicide rates?

In [74]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import statsmodels.api as sm
import statsmodels.formula.api as smf
import numpy as np

df = pd.read_csv('../data/Raw_data/work_hour.csv')
suicide = pd.read_csv('../data/Cleaned_data/suicide_total.csv')

In [75]:
df

,COUNTRY,Country,EMPSTAT,Employment status,FREQUENCY,Frequency,TIME,Time,Unit Code,Unit,PowerCode Code,PowerCode,Reference Period Code,Reference Period,Value,Flag Codes,Flags
0,AUS,Australia,TE,Total employment,A,Annual,2000,2000,HOUR,Hours,0,Units,NaN,NaN,1831.0,NaN,NaN
1,AUS,Australia,TE,Total employment,A,Annual,2001,2001,HOUR,Hours,0,Units,NaN,NaN,1814.0,NaN,NaN
2,AUS,Australia,TE,Total employment,A,Annual,2002,2002,HOUR,Hours,0,Units,NaN,NaN,1794.0,NaN,NaN
3,AUS,Australia,TE,Total employment,A,Annual,2003,2003,HOUR,Hours,0,Units,NaN,NaN,1798.0,NaN,NaN
4,AUS,Australia,TE,Total employment,A,Annual,2004,2004,HOUR,Hours,0,Units,NaN,NaN,1801.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1468,ISR,Israel,DE,Dependent employment,A,Annual,2014,2014,HOUR,Hours,0,Units,NaN,NaN,1901.0,NaN,NaN
1469,ISR,Israel,DE,Dependent employment,A,Annual,2015,2015,HOUR,Hours,0,Units,NaN,NaN,1900.0,NaN,NaN
1470,ISR,Israel,DE,Dependent employment,A,Annual,2016,2016,HOUR,Hours,0,Units,NaN,NaN,1923.0,NaN,NaN
1471,ISR,Israel,DE,Dependent employment,A,Annual,2017,2017,HOUR,Hours,0,Units,NaN,NaN,1924.0,NaN,NaN
1472,ISR,Israel,DE,Dependent employment,A,Annual,2018,2018,HOUR,Hours,0,Units,NaN,NaN,1919.0,NaN,NaN

#### Cleaning up data
* I only want values from years 2000,2010,and 2016 (to match with suicide data), so I dropped the rows that are not from these years
* Dropped all columns except for country, year, and the work hours value
* Replaced the name of a country with it's more common name
* Because the data is long, which doesn't work well with a regression model, I used the pivot function to change it to a wide format
* Added a column which takes the mean value of the 3 years
* Lastly, merged with suicide data for further analysis

In [77]:
df.head(25)
work =df.loc[df['Time'].isin(['2000','2010','2016' ])]
work=work.filter(["COUNTRY", "Country","Time","Value"], axis=1)
work['Country']=work['Country'].replace(["Russian Federation"],'Russia')
work

     COUNTRY      Country  Time   Value
0        AUS    Australia  2000  1831.0
10       AUS    Australia  2010  1755.0
16       AUS    Australia  2016  1740.0
20       AUT      Austria  2000  1542.0
30       AUT      Austria  2010  1468.0
...      ...          ...   ...     ...
1445     CHE  Switzerland  2010  1597.0
1451     CHE  Switzerland  2016  1581.0
1454     ISR       Israel  2000  2022.0
1464     ISR       Israel  2010  1950.0
1470     ISR       Israel  2016  1923.0

[222 rows x 4 columns]

In [78]:
#from long to wide
work_wide=work.pivot_table(index="Country",columns="Time",values="Value")
work_wide

Time                2000     2010     2016
Country
Australia        1819.00  1751.50  1741.00
Austria          1608.50  1510.00  1469.00
Belgium          1524.00  1503.00  1504.50
Canada           1782.50  1716.50  1710.00
Chile            2290.50  2096.50  2011.50
Costa Rica       2362.00  2265.80  2224.15
Czech Republic   1957.00  1841.50  1806.00
Denmark          1443.50  1410.50  1401.00
Estonia          1860.00  1775.00  1757.00
Finland          1610.50  1553.00  1530.00
France           1501.00  1489.50  1475.00
Germany          1421.50  1387.80  1364.15
Greece           1904.50  1845.50  1835.00
Hungary          1863.70  1792.20  1789.60
Iceland          1696.00  1517.50  1484.50
Ireland          1904.00  1678.50  1723.00
Israel           2027.45  1953.25  1922.55
Italy            1773.10  1696.40  1651.35
Japan            1837.00  1743.50  1719.00
Korea                NaN  2163.00  2050.50
Latvia           1741.00  1706.50  1676.00
Lithuania        1594.00  1648.50  1648.00
Luxembourg       1603.50  1519.50  1513.00
Mexico           2266.90  2243.50  2246.90
Netherlands      1433.50  1388.50  1401.50
New Zealand      1806.50  1748.00  1745.00
Norway           1435.50  1385.00  1386.00
OECD countries   1807.00  1755.00  1745.00
Poland           1815.50  1783.50  1782.50
Portugal         1742.50  1728.00  1717.50
Russia           1991.00  1986.00  1985.00
Slovak Republic  1777.00  1759.50  1699.00
Slovenia         1658.05  1658.15  1627.70
Spain            1728.90  1674.90  1660.75
Sweden           1459.00  1458.50  1455.00
Switzerland      1687.85  1610.65  1585.60
Turkey           1937.00  1877.00      NaN
United Kingdom   1542.50  1484.50  1527.00
United States    1831.50  1775.50  1781.50

In [79]:
#add a column with the average value of 3 years
work_wide['means']=(work_wide[2016]+work_wide[2010]+work_wide[2000])/3
work_wide

Time                2000     2010     2016        means
Country
Australia        1819.00  1751.50  1741.00  1770.500000
Austria          1608.50  1510.00  1469.00  1529.166667
Belgium          1524.00  1503.00  1504.50  1510.500000
Canada           1782.50  1716.50  1710.00  1736.333333
Chile            2290.50  2096.50  2011.50  2132.833333
Costa Rica       2362.00  2265.80  2224.15  2283.983333
Czech Republic   1957.00  1841.50  1806.00  1868.166667
Denmark          1443.50  1410.50  1401.00  1418.333333
Estonia          1860.00  1775.00  1757.00  1797.333333
Finland          1610.50  1553.00  1530.00  1564.500000
France           1501.00  1489.50  1475.00  1488.500000
Germany          1421.50  1387.80  1364.15  1391.150000
Greece           1904.50  1845.50  1835.00  1861.666667
Hungary          1863.70  1792.20  1789.60  1815.166667
Iceland          1696.00  1517.50  1484.50  1566.000000
Ireland          1904.00  1678.50  1723.00  1768.500000
Israel           2027.45  1953.25  1922.55  1967.750000
Italy            1773.10  1696.40  1651.35  1706.950000
Japan            1837.00  1743.50  1719.00  1766.500000
Korea                NaN  2163.00  2050.50          NaN
Latvia           1741.00  1706.50  1676.00  1707.833333
Lithuania        1594.00  1648.50  1648.00  1630.166667
Luxembourg       1603.50  1519.50  1513.00  1545.333333
Mexico           2266.90  2243.50  2246.90  2252.433333
Netherlands      1433.50  1388.50  1401.50  1407.833333
New Zealand      1806.50  1748.00  1745.00  1766.500000
Norway           1435.50  1385.00  1386.00  1402.166667
OECD countries   1807.00  1755.00  1745.00  1769.000000
Poland           1815.50  1783.50  1782.50  1793.833333
Portugal         1742.50  1728.00  1717.50  1729.333333
Russia           1991.00  1986.00  1985.00  1987.333333
Slovak Republic  1777.00  1759.50  1699.00  1745.166667
Slovenia         1658.05  1658.15  1627.70  1647.966667
Spain            1728.90  1674.90  1660.75  1688.183333
Sweden           1459.00  1458.50  1455.00  1457.500000
Switzerland      1687.85  1610.65  1585.60  1628.033333
Turkey           1937.00  1877.00      NaN          NaN
United Kingdom   1542.50  1484.50  1527.00  1518.000000
United States    1831.50  1775.50  1781.50  1796.166667

In [80]:
merged = pd.merge(left=work_wide, right=suicide, left_on='Country', right_on='Country')
merged.head()

,Country,2000,2010,2016,means_x,Sex,2016,2015,2010,2000,means_y
0,Australia,1819.00,1751.50,1741.00,1770.500000,Both sexes,11.7,12.2,11.0,12.2,11.633333
1,Austria,1608.50,1510.00,1469.00,1529.166667,Both sexes,11.4,11.5,12.2,16.0,13.200000
2,Belgium,1524.00,1503.00,1504.50,1510.500000,Both sexes,15.7,15.2,16.8,18.8,17.100000
3,Canada,1782.50,1716.50,1710.00,1736.333333,Both sexes,10.4,10.5,11.1,11.6,11.033333
4,Chile,2290.50,2096.50,2011.50,2132.833333,Both sexes,9.7,10.0,11.6,11.1,10.800000
5,Costa Rica,2362.00,2265.80,2224.15,2283.983333,Both sexes,7.5,7.5,8.4,7.7,7.866667
6,Denmark,1443.50,1410.50,1401.00,1418.333333,Both sexes,9.2,8.6,9.3,12.7,10.400000
7,Estonia,1860.00,1775.00,1757.00,1797.333333,Both sexes,14.4,13.3,14.9,25.4,18.233333
8,Finland,1610.50,1553.00,1530.00,1564.500000,Both sexes,13.8,12.4,16.6,21.6,17.333333
9,France,1501.00,1489.50,1475.00,1488.500000,Both sexes,12.1,12.5,14.8,16.9,14.600000
10,Germany,1421.50,1387.80,1364.15,1391.150000,Both sexes,9.1,9.3,9.8,11.4,10.100000
11,Greece,1904.50,1845.50,1835.00,1861.666667,Both sexes,3.8,3.6,2.6,2.9,3.100000
12,Hungary,1863.70,1792.20,1789.60,1815.166667,Both sexes,13.6,14.7,19.5,26.1,19.733333
13,Iceland,1696.00,1517.50,1484.50,1566.000000,Both sexes,13.3,12.9,12.3,16.0,13.866667
14,Ireland,1904.00,1678.50,1723.00,1768.500000,Both sexes,10.9,10.8,11.3,11.8,11.333333
15,Israel,2027.45,1953.25,1922.55,1967.750000,Both sexes,5.2,4.8,7.2,7.4,6.600000
16,Italy,1773.10,1696.40,1651.35,1706.950000,Both sexes,5.5,5.3,5.2,5.8,5.500000
17,Japan,1837.00,1743.50,1719.00,1766.500000,Both sexes,14.3,15.1,19.0,18.8,17.366667
18,Latvia,1741.00,1706.50,1676.00,1707.833333,Both sexes,17.2,17.3,18.8,29.7,21.900000
19,Lithuania,1594.00,1648.50,1648.00,1630.166667,Both sexes,25.7,28.8,31.3,46.3,34.433333
20,Luxembourg,1603.50,1519.50,1513.00,1545.333333,Both sexes,10.4,11.6,10.3,14.1,11.600000
21,Mexico,2266.90,2243.50,2246.90,2252.433333,Both sexes,5.2,5.6,4.8,4.0,4.666667
22,Netherlands,1433.50,1388.50,1401.50,1407.833333,Both sexes,9.6,9.7,8.2,8.3,8.700000
23,New Zealand,1806.50,1748.00,1745.00,1766.500000,Both sexes,11.6,11.6,12.2,12.7,12.166667
24,Norway,1435.50,1385.00,1386.00,1402.166667,Both sexes,10.1,10.2,10.6,12.0,10.900000
25,Poland,1815.50,1783.50,1782.50,1793.833333,Both sexes,13.4,13.1,15.5,15.2,14.700000
26,Portugal,1742.50,1728.00,1717.50,1729.333333,Both sexes,8.6,8.6,8.8,5.3,7.566667
27,Russia,1991.00,1986.00,1985.00,1987.333333,Both sexes,26.5,27.5,34.5,47.5,36.166667
28,Slovenia,1658.05,1658.15,1627.70,1647.966667,Both sexes,13.3,14.8,15.5,26.0,18.266667
29,Spain,1728.90,1674.90,1660.75,1688.183333,Both sexes,6.1,5.7,5.1,6.5,5.900000
30,Sweden,1459.00,1458.50,1455.00,1457.500000,Both sexes,11.7,12.3,12.0,12.2,11.966667
31,Switzerland,1687.85,1610.65,1585.60,1628.033333,Both sexes,11.3,11.4,11.3,16.8,13.133333
32,Turkey,1937.00,1877.00,NaN,NaN,Both sexes,7.2,7.2,8.1,7.3,7.533333
33,United Kingdom,1542.50,1484.50,1527.00,1518.000000,Both sexes,7.6,7.6,6.9,8.1,7.533333
34,United States,1831.50,1775.50,1781.50,1796.166667,Both sexes,13.7,13.3,11.8,10.1,11.866667

#### Examine relationships
I regressed work hours on suicide rate for each of the 3 years as well as the mean. The relationship is minimal if not non-existent for all 3 years and the mean, and the models fit no better than just the mean. This is somehow surprising given that the pressure from work is said to be related to suicide attempts. However there are some possible explanations for the absence of a relationship:
1. Length of work hours does not represent pressure from work
2. The sample size is small
3. Most importantly, I was not able to find data for low and mid income countries. If data for those countries are available I suspect that it will change the result significantly

In [81]:
m1 = smf.ols(formula= 'means_y ~ means_x', data=merged)
res = m1.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                means_y   R-squared:                       0.003
Model:                            OLS   Adj. R-squared:                 -0.029
Method:                 Least Squares   F-statistic:                   0.08181
Date:                Wed, 23 Dec 2020   Prob (F-statistic):              0.777
Time:                        02:39:33   Log-Likelihood:                -114.62
No. Observations:                  34   AIC:                             233.2
Df Residuals:                      32   BIC:                             236.3
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     15.9933      9.593      1.667      0.105      -3.548      35.534
means_x       -0.0016      0.006     -0.286      0.777      -0.013       0.010
==============================================================================
Omnibus:                       21.561   Durbin-Watson:                   1.743
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               31.579
Skew:                           1.688   Prob(JB):                     1.39e-07
Kurtosis:                       6.301   Cond. No.                     1.33e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.33e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [70]:
m1 = smf.ols(formula= 'Q("2016") ~ Q(2016)', data=merged)
res = m1.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Q("2016")   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                 -0.027
Method:                 Least Squares   F-statistic:                    0.1473
Date:                Sun, 20 Dec 2020   Prob (F-statistic):              0.704
Time:                        16:07:03   Log-Likelihood:                -101.51
No. Observations:                  34   AIC:                             207.0
Df Residuals:                      32   BIC:                             210.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     14.0981      6.624      2.128      0.041       0.605      27.591
Q(2016)       -0.0015      0.004     -0.384      0.704      -0.009       0.006
==============================================================================
Omnibus:                       17.773   Durbin-Watson:                   1.768
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.264
Skew:                           1.428   Prob(JB):                     8.88e-06
Kurtosis:                       5.874   Cond. No.                     1.32e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.32e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [71]:
m1 = smf.ols(formula= 'Q("2010") ~ Q(2010)', data=merged)
res = m1.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Q("2010")   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.030
Method:                 Least Squares   F-statistic:                 0.0003088
Date:                Sun, 20 Dec 2020   Prob (F-statistic):              0.986
Time:                        16:07:31   Log-Likelihood:                -114.96
No. Observations:                  35   AIC:                             233.9
Df Residuals:                      33   BIC:                             237.0
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     12.7032      8.707      1.459      0.154      -5.012      30.418
Q(2010)    -8.946e-05      0.005     -0.018      0.986      -0.010       0.010
==============================================================================
Omnibus:                       21.203   Durbin-Watson:                   1.829
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               31.469
Skew:                           1.621   Prob(JB):                     1.47e-07
Kurtosis:                       6.326   Cond. No.                     1.32e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.32e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

In [72]:
m1 = smf.ols(formula= 'Q("2016") ~ Q(2016)', data=merged)
res = m1.fit()
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              Q("2016")   R-squared:                       0.005
Model:                            OLS   Adj. R-squared:                 -0.027
Method:                 Least Squares   F-statistic:                    0.1473
Date:                Sun, 20 Dec 2020   Prob (F-statistic):              0.704
Time:                        16:07:55   Log-Likelihood:                -101.51
No. Observations:                  34   AIC:                             207.0
Df Residuals:                      32   BIC:                             210.1
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept     14.0981      6.624      2.128      0.041       0.605      27.591
Q(2016)       -0.0015      0.004     -0.384      0.704      -0.009       0.006
==============================================================================
Omnibus:                       17.773   Durbin-Watson:                   1.768
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               23.264
Skew:                           1.428   Prob(JB):                     8.88e-06
Kurtosis:                       5.874   Cond. No.                     1.32e+04
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.32e+04. This might indicate that there are
strong multicollinearity or other numerical problems.